
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
{% extends 'base.html' %}
{% load static %}
{% load pybo_filter %}
{% block content %}
<div class="container my-3">

    <div class="row my-3">
        <div class="col-2">
            <a href="{% url 'pybo:question_create' %}" class="btn btn-secondary">投稿</a>
        </div>
        <div class="col-4">
            <a href="javascript:void(0);" onclick="show_alert()" style="border-bottom: 1px">操作説明</a>
        </div>
        <div class="col-6">
            <div class="input-group">
                <input type="text" id="search_kw" class="form-control" value="{{ kw|default_if_none:'' }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btn_search">検索</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 채널 표시 -->
    <div class="row my-3">
        <div class="col-6">
            <table class="table table-hover table-striped">
            <a href="{% url 'pybo:nomi' %}">飲み会チャンネル</a>
                <thead>
                <tr class="text-center thead-dark">
                    <th style="width:14%"><font size="4">番号</font></th>
                    <th style="width:50%"><font size="4">タイトル</font></th>
                    <th style="width:12%"><font size="4">作者</font></th>
                    <th style="width:25%"><font size="4">日付</font></th>
                </tr>
                </thead>
                <tbody>
                {% if nomi_question_list %}
                {% for question in nomi_question_list %}
                    <tr class="text-center">
                        <td><strong>
                        <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                        {{ nomi_question_list.count|sub:forloop.counter0 }}
                        </strong>
                    </td>
                    <td class="text-left">

                        <a href="{% url 'pybo:detail' question.id %}"><span class="text-muted">{{ question.subject }}</a>

                        {% if question.answer_set.count > 0 %}
                        </span>
                        <span class="text-danger small ml-2">{{ question.answer_set.count }}</span>
                        {% endif %}

                    </td>
                    <td class="..userName">
                        <a href="javascript:void(0);" onclick="name_search(this)"><span class="text-info">{{ question.author.username }}</span></a>
                    </td>
                    <td>{{ question.create_date }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="3">空きページです。</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>

        <div class="col-6">
            <a href="{% url 'pybo:worry' %}">お悩み掲示板</a>
            <table class="table table-hover table-striped">

                <thead>
                <tr class="text-center thead-dark">
                    <th style="width:14%"><font size="4">番号</font></th>
                    <th style="width:50%"><font size="4">タイトル</font></th>
                    <th style="width:12%"><font size="4">作者</font></th>
                    <th style="width:25%"><font size="4">日付</font></th>
                </tr>
                </thead>
                <tbody>
                {% if worry_question_list %}
                {% for question in worry_question_list %}
                <tr class="text-center">
                        <td><strong>
                        <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                        {{ worry_question_list.count|sub:forloop.counter0 }}
                        </strong>
                    </td>
                    <td class="text-left">

                        <a href="{% url 'pybo:detail' question.id %}"><span class="text-muted">{{ question.subject }}</a>

                        {% if question.answer_set.count > 0 %}
                        </span>
                        <span class="text-danger small ml-2">{{ question.answer_set.count }}</span>
                        {% endif %}

                    </td>
                    <td class="..userName">
                        <a href="javascript:void(0);" onclick="name_search(this)"><span class="text-info">{{ question.author.username }}</span></a>
                    </td>
                    <td>{{ question.create_date }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="3">空きページです。</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-6">
            <a href="{% url 'pybo:deal' %}">中古品売買チャンネル</a>
            <table class="table table-hover table-striped">

                <thead>
                <tr class="text-center thead-dark">
                    <th style="width:14%"><font size="4">番号</font></th>
                    <th style="width:50%"><font size="4">タイトル</font></th>
                    <th style="width:12%"><font size="4">作者</font></th>
                    <th style="width:25%"><font size="4">日付</font></th>
                </tr>
                </thead>
                <tbody>
                {% if deal_question_list %}
                {% for question in deal_question_list %}
                <tr class="text-center">
                        <td><strong>
                        <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                        {{ deal_question_list.count|sub:forloop.counter0 }}
                        </strong>
                    </td>
                    <td class="text-left">

                        <a href="{% url 'pybo:detail' question.id %}"><span class="text-muted">{{ question.subject }}</a>

                        {% if question.answer_set.count > 0 %}
                        </span>
                        <span class="text-danger small ml-2">{{ question.answer_set.count }}</span>
                        {% endif %}

                    </td>
                    <td class="..userName">
                        <a href="javascript:void(0);" onclick="name_search(this)"><span class="text-info">{{ question.author.username }}</span></a>
                    </td>
                    <td>{{ question.create_date }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="3">空きページです。</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>

        <div class="col-6">
            <a href="{% url 'pybo:advice' %}">海外生活の助言チャンネル</a>
            <table class="table table-hover table-striped">

                <thead>
                <tr class="text-center thead-dark">
                    <th style="width:14%"><font size="4">番号</font></th>
                    <th style="width:50%"><font size="4">タイトル</font></th>
                    <th style="width:12%"><font size="4">作者</font></th>
                    <th style="width:25%"><font size="4">日付</font></th>
                </tr>
                </thead>
                <tbody>
                {% if advice_question_list %}
                {% for question in advice_question_list %}
                <tr class="text-center">
                        <td><strong>
                        <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                        {{ advice_question_list.count|sub:forloop.counter0 }}
                        </strong>
                    </td>
                    <td class="text-left">

                        <a href="{% url 'pybo:detail' question.id %}"><span class="text-muted">{{ question.subject }}</a>

                        {% if question.answer_set.count > 0 %}
                        </span>
                        <span class="text-danger small ml-2">{{ question.answer_set.count }}</span>
                        {% endif %}

                    </td>
                    <td class="..userName">
                        <a href="javascript:void(0);" onclick="name_search(this)"><span class="text-info">{{ question.author.username }}</span></a>
                    </td>
                    <td>{{ question.create_date }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="3">空きページです。</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- 작성자 이름 클릭 시 검색 -->


    <!-- 페이징처리 시작 -->

    <!-- 페이징처리 끝 -->
</div>
<form id="searchForm" method="get" action="{% url 'index' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>
{% endblock %}
{% block script %}
<script type='text/javascript'>

const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});
const btn_search = document.getElementById("btn_search");
btn_search.addEventListener('click', function() {
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('page').value = 1;  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
    document.getElementById('searchForm').submit();
});

<!-- 작성자 이름 클릭 시 검색 -->
function name_search(obj) {
    console.log(obj.text);
    document.getElementById('kw').value = obj.text;
    document.getElementsByName('val').value = 1;
    document.getElementById('searchForm').submit();
}



function show_alert() {
{#    alert('操作の説明\n' +#}
{#        'チャンネルやタイトルをクリックすると\n' +#}
{#        '詳細が表示されます。\n' +#}
{#        '作者の名前をクリックすると\n' +#}
{#        'その人が投稿したものを見ることができます。\n' +#}
{#        '左上のボタンでログインや会員登録をすれば\n' +#}
{#        '投稿することができます。\n' +#}
{#        '' +#}
{#        '');#}
    Swal.fire({
        icon: 'info',
        html: "投稿する際には会員登録の後、ログイン機能をご利用ください。" +
            "<br>" +  '<br>' + '<br>',
        showCancelButton: false,
        showConfirmButton: false,
        imageUrl: "{% static 'setsumei1.png' %}",
    })
}

</script>
{% endblock %}